fastapi
uvicorn

# Database & models
sqlmodel
SQLAlchemy

# Authentication
python-jose
passlib[bcrypt]

# Environment variables
python-dotenv

# LangChain & RAG
langchain
langchain-community
langchain-openai
sentence-transformers
chromadb
pypdf
numpy